body{ 
    padding:10px;
    background: #085078; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #085078, #85d8ce); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #085078, #85d8ce); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

#outer-box{
    box-shadow: 6px 6px 17px #496b68;
}

.col-centered{
    margin:0 auto;
    margin-top:2em;
 }

.background{
    background:rgba(255,255,255,0.79);
    padding:2em;
    margin-top:4em;
    border-radius: 5px;
}

#title-text{
    border-top: 1px solid #808080;
    padding-top:1em;
}
#input-text, #output{
    font-family:times-new-roman;
    font-size:18px;
    padding: 0.5em;
    margin-top:1em;
}
#input-text{
    white-space: pre;
}
#output{
    min-height: 2.5em;
    word-wrap: break-word;
    background:white;
    border-radius: 5px;
    box-shadow: 3px 2px 4px grey;
    cursor: pointer;
}
#title, #title-text{
    margin-bottom:1em;
}

#output-title{
    margin-top:1em;
    margin-bottom:1em;
}
/*Animation for file upload*/
.snack-wrap {
    display:block;
    position:fixed;
    top:30%;
    left:50%;
    margin-top:-35px;
    margin-left:-81px;
    padding:0px;
  }
  
  .snackbar {
    display:block;
    background:#4CAF50;
    border:#f2f2f2;
    padding:10px 20px 10px 20px;
    border-radius:5px;
    color:#fff;
    font-family:Arial;
    position:relative;
    transition: bottom 0.2s ease-in-out;
    z-index:9;
    opacity:0;
  }
  .snackclose, #snack_lab{
    position:absolute;
    border:0;
  }
  .snackclose {
    display:none;
    z-index:10;
  }
  #snack_lab {
    z-index:11;
    display:block;
    width:100%;
    height:100%;
    color:rgba(255,255,255,0.8);
    cursor:pointer;
  }
  .animateme {
    animation-name: snackbar-show;
    animation-duration: 2.5s;
    animation-direction: forwards;
    animation-timing-function: linear;
    animation-delay:0s;
    animation-fill-mode: initial;
  }
  @keyframes snackbar-show {
     0%{ opacity:0; }
    40%{opacity:0.9;}
    60%{opacity:0.9;}
     100% {opacity:0; }
  }