<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-130390066-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-130390066-1');
</script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Queep Bot</title>

    <link href="./css/font-open-sans.css" rel="stylesheet">
    <link href="./css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="./css/main.css" rel="stylesheet">
    <link href="./css/highlights.css?v=1.3" rel="stylesheet">

    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>
<body style="padding:10px;">
    <div class="col-centered col-sm-12 col-md-12 col-lg-11 col-xl-9 background" id="outer-box">
        <div class="row text-center" id="title">
            <div class="col-12">
            <h2 id="main_title">Queep Bot</h2>
            <hr>
            </div>
        </div>
                    <div class="row">
                        <div>
                            <div class="col-xl-9 col-lg-10 col-md-10 col-sm-12" style="margin:0 auto">
                    
                                <h4> What is QueepBot? </h4>
                            <p class="text-justify">&emsp; &emsp; QueepBot is a tool for Executive Officers and Airmen alike to rapidly diagnose 
                                standardization errors in OPR, EPR, and award bullets according to your Wing's writing guide. 
                                It is a tool designed to save Airmen time, and streamline the OPR/EPR writing process.
                                </p>
                                <h4>How Do I Use It?</h4>
                                <p class="text-justify">&emsp; &emsp;  To use, paste your evaluation bullets in the textbox below.
                                        Errors are highlighted in red, and approved acronyms are highlighted in blue.
                                        Hover your mouse over the highlighted word to view more information. 
                                        For example, type: "ldr" and "leader" into the input box. 
                                        They will be highlighted as red because they are used inconsistently. 
                                        Other features identify common adminstrative errors.
                                    For example: A "!" needs to be placed at the end of a bullet,
                                    or have two spaces following it. A "--" must not have whitespace on either side. 
                                    New features are continually added to QueepBot. 
                                </p>
                                    <h4>Customizable Acronym Lists</h4>
                                    <p class="text-justify">
                                            &emsp; &emsp; You may elect to change the existing acronym list by customizing 
                                        <a href="/files/testacro.csv" download>this sample CSV file</a>. You may view a <a href="https://youtu.be/3TVCfOds2yw?t=113">tutorial here</a>.
                                        Upload a new list by selecting the file below.
                                    </p>
                                    <input type="file" id="fileUpload">  <br><br>  
                                    Have questions or suggestions?  <a href="/contactus">Send us a message.</a>
                            </div>
                        </div>
                        <div class="col-centered">
                            <textarea name="paragraph_text" placeholder="i.e. - Built $85M trng plan; spearheaded a new course rewrite--streamlined 432 graduates" id="input-text" rows="7"></textarea>
                        </div>
                        <div class="col-12 text-center" id="output-title">
                            <h3>Output</h3>
                        </div>
                        <div class="col-centered output-box">
                            <pre id ="output"></pre>
                        </div>
               
                </div>

                <div class="col-12 text-center" id="output-title">
                    <p></p>
                </div>
                
    </div> <!-- container-->
    <div class="col-12 text-center" id="output-title" style="opacity:0.5">
        Created By Nathan Mosely
        <br>
        Developed By Connor Hamlet and Zane Norman 
        <br>
        Produced in collaboration with the 14FTW and 81TW
        
        
    </div>


</body>

<script src="./js/jquery-3.3.1.min.js"></script>
<script src="./js/word_acro.js"></script>
<script src="./js/tippy.all.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.6.2/papaparse.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="./js/csv-parse-implementor.min.js"></script>
<script src="./js/queep.min.js?v=1.2"></script>

</html>
